<h1 class="header">Alliert og alene</h1>
<div class="row mapContainer" >
    <div class="col-md-8" style="height: 100%">
        <div id='map' class='dark'></div>
        &nbsp;
    </div>
    <div id="infoBox" class="col-md-4">
        <h2></h2>
        <div></div>
        <img />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id='brush' class='ui-brush' style="display:none"></div>
        <div id="my-timeline"></div>
    </div>
</div>
