<h1 class="header">Alliert og alene</h1>
<div class="row">
    <div class="col-xs-12 visible-xs-block visible-sm-block text-center">
        <ul class="list-inline">
            <li><a href="#" id="btnFeatureLeft" class="feature-link"><i class="glyphicon glyphicon-chevron-left icon-large"></i></a></li>
            <li><h3 id="featureDate"></h3></li>
            <li><a href="#" id="btnFeatureRight" class="feature-link"><i class="glyphicon glyphicon-chevron-right icon-large"></i></a></li>
        </ul>
    </div>
</div>
<div class="row mapContainer" style="position: relative">
    <div id="mapBox" class="col-xs-12 col-sm-8">
        <div id='map' class='dark'></div>
        <div id="dragger" style="display: none; background-color: transparent; position: absolute; z-index: 10; top:0;left:0;width: 100%;height: 350px"></div>
    </div>
    <div id="infoBox" class="col-xs-12 col-sm-4">
        <h2 id="infoHeader"></h2>
        <div id="content"></div>
        <a class="pop-img">
            <img />
        </a>
        <div id="videoContainer" style="display: none">
            <video class="video-js vjs-default-skin" controls
                   preload="auto" width="320" height="132" id="featureVideo">
                <source type='video/mp4'>
                @*<source src="MY_VIDEO.webm" type='video/webm'>*@
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
        </div>
        <div id="videoLinkContainer" style="display: none; background-color: #000; width:320px; height:132px; padding-top: 50px" class="text-center">
            <a href="http://www.vg.no" style="color:white; font-size: 1.3em">Se hele serien</a>
        </div>
    </div>
</div>
<div class="timeline-carousel" data-ng-controller="carouselCtrl as cc">
    <div data-ng-repeat="feature in cc.timelineFetaures">
        <a href="#" data-ng-click="cc.goto(feature.id)" data-ng-bind="feature.header"></a>
    </div>
</div>
<div class="row" id="timeLine">
    <div class="col-xs-12">
        <div id='brush' class='ui-brush' style="display:none"></div>
        <div id="my-timeline"></div>
    </div>
</div>
