<h1 class="header">Alliert og alene</h1>
<div class="row">
    <div class="col-xs-12 visible-xs-block visible-sm-block text-center"><h3 id="featureDate"></h3></div>
</div>
<div class="row mapContainer">
    <div id="mapBox" class="col-xs-12 col-sm-8" style="height: 100%; min-height: 500px">
        <div id='map' class='dark'></div>
    </div>
    <div id="infoBox" class="col-xs-12 col-sm-4">
        <h2></h2>
        <div id="content"></div>
        <a class="pop-img">
            <img />
        </a>
        <div id="videoContainer" style="display: none">
            <video class="video-js vjs-default-skin" controls
                   preload="auto" width="320" height="132" id="featureVideo">
                <source type='video/mp4'>
                @*<source src="MY_VIDEO.webm" type='video/webm'>*@
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id='brush' class='ui-brush' style="display:none"></div>
        <div id="my-timeline"></div>
    </div>
</div>
