@section SPAViews {
    <div data-ng-app="allied" data-ng-controller="mapCtrl as mc">
    @Html.Partial("_Home")
</div>
}
@section Scripts{
    @Scripts.Render("~/bundles/app")
    <script>
        (function($) {
            $(window).load(function() {
                $("#infoContent").mCustomScrollbar();
                $(".pop-img").magnificPopup(
                {
                    type: 'image',
                    image: {
                        titleSrc: 'title'
                    }
                });
                $('.timeline-carousel').slick({
                    infinite: false,
                    slidesToShow: 5,
                    dots: true
                });
            });
        })(jQuery);
    </script>
}
