<div data-ng-app="allied" data-ng-controller="mapCtrl as mc">
    @Html.Partial("_Home")
</div>

@section Scripts{
    <script>
        (function ($) {
            $(window).load(function () {
                $("#infoContent").mCustomScrollbar();
                $('.timeline-carousel').slick({
                    centerMode: true,
                    infinite: false,
                    slidesToShow: 5,
                    dots: true
                });
            });
        })(jQuery);
    </script>
    @Scripts.Render("~/bundles/app")
}
