@section SPAViews {
    <div data-ng-controller="mapCtrl as mc">
        @Html.Partial("_Home")
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/app")
    <script>
        (function ($) {
            $(window).load(function () {
                $("#infoBox").mCustomScrollbar();
                $(".pop-img").magnificPopup({ type: 'image' });
                $('.timeline-carousel').slick({
                    infinite: true,
                    slidesToShow: 2,
                    slidesToScroll: 1
                });
            });
        })(jQuery);
    </script>
}